main {
  padding: 0 64px 64px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 50px;
}

.CardDesign7 {
  border-radius: 16px;
  margin: 0 auto;
  margin-right: 2rem;
  margin-left: 2rem;
  /* width: 500px; */
  /* max-width: 100%; */
  min-height: 270px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url("../images/Mr.Sahil Jivan Kothekar.png");
  background-size: cover;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.45;
  /* max-width: 100%; */

  width: 245px;
}
.CardDesign1 {
  border-radius: 16px;
  margin: 0 auto;
  margin-right: 2rem;
  margin-left: 2rem;
  /* width: 500px; */
  /* max-width: 100%; */
  min-height: 270px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url("../images/Mr.Devashish Sontakke.png");
  background-size: cover;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.45;

  width: 222px;
}
.CardDesign2 {
  border-radius: 16px;
  margin: 0 auto;
  margin-right: 2rem;
  margin-left: 2rem;
  /* width: 500px; */
  /* max-width: 100%; */
  min-height: 270px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url("../images/Mr. Swanand Jugade.png");
  background-size: cover;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.45;
  /* max-width: 100%; */
  width: 257px;
  position: relative;

  right: 20px;
}

.CardDesign3 {
  border-radius: 16px;
  margin: 0 auto;
  margin-right: 2rem;
  margin-left: -13rem;
  width: 400px;
  /* max-width: 292%; */
  min-height: 270px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  background-image: url("../images/Best department award.png");
  background-size: cover;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;

  position: relative;
  left: 148px;

  line-height: 1.45;
}
.CardDesign4 {
  background-image: url("../images/Ayush Deshmukh .png");
  border-radius: 16px;
  margin: 0 auto;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 500px;
  /* max-width: 100%; */
  min-height: 270px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  background-size: cover;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.45;
  width: 387px;
  position: relative;
  right: 70px;
}
.CardDesign5 {
  border-radius: 16px;
  margin: 0 auto;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 397px;
  /* max-width: 100%; */
  min-height: 270px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url("../images/Dhiraj Nichant .png");
  background-size: cover;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.45;
  position: relative;
  right: 49px;
}
.CardDesign6 {
  border-radius: 16px;
  margin: 0 auto;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 255px;
  /* max-width: 100%; */
  min-height: 270px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url("../images/MRAnkit_Jamaiwar.png");
  background-size: cover;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease;
  font-family: Open Sans, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  line-height: 1.45;

  /* width: 502px; */
}

.info {
  position: relative;
  width: 100%;
  height: 366x;
  background-color: #fff;
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.CardDesign:hover .info,
.CardDesign:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign1:hover .info,
.CardDesign1:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign2:hover .info,
.CardDesign2:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign3:hover .info,
.CardDesign3:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign4:hover .info,
.CardDesign4:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign5:hover .info,
.CardDesign5:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign6:hover .info,
.CardDesign6:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign7:hover .info,
.CardDesign7:hover .info:before {
  transform: translateY(0) translateZ(0);
}
.CardDesign8:hover .info,
.CardDesign8:hover .info:before {
  transform: translateY(0) translateZ(0);
}

.title {
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.description {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 18px;
  line-height: 1.5;
}

/* General layout and typography stuff */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

/* body,
  header {
    background: #fafafa;
  } */

/* header {
    padding: 40px;
    min-height: 200px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
  
  header > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  } */

header > :last-child {
  margin-bottom: 0;
}

.info > h1 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #1c5b72;
  font-size: 1.67em;
}

@media (min-width: 800px) {
  .info > h1 {
    font-size: 1.67em;
    font-weight: 300;
  }
}

.info > p {
  margin-bottom: 1.3em;
  line-height: 1.618;
}

@media (min-width: 800px) {
  .info > p {
    font-size: 1.3em;
  }
}

a {
  color: #e03616;
  text-decoration: none;
}
