/* 
.robogear:hover .robogear-arm-right {
  transform-box: fill-box;
  transform-origin: center center;
  transform: rotateY(180deg) rotate(165deg) translate(3px, -35px);
}
.robogear-gear {
  animation: robotMoves 2s ease-in-out alternate infinite;
}
@keyframes robotMoves {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

.robogear2 {
  width: 2.3%;
  height: 6.5%;
  position: absolute;
  top: 42.6%;
  left: 56.09%;

  background: url(../images/gear4.png) no-repeat;
  background-size: 100% 100%;
  opacity: 80%;
  animation: robo_gear 10s linear infinite;
} */
.robogear:hover .robogear1 {
  width: 15.7%;
  height: 15.7%;
  position: absolute;
  top: 24.7%;
  left: 54.3%;

  background: url(../images/red-gear.png) no-repeat;
  background-size: 100% 100%;
  opacity: 80%;
  animation: robo_gear2 7s linear infinite;
}
.robogear:hover .robogear2 {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 28.5%;
  left: 30.5%;

  /* background: url(../images/whit-gear.png) no-repeat; */
  background-size: 100% 100%;
  opacity: 80%;
  animation: robo_gear1 7s linear infinite;
}

.robogear:hover .robogear3 {
  width: 13%;
  height: 13%;
  position: absolute;
  top: 21%;
  left: 44.9%;

  background: url(../images/green-gear.png) no-repeat;
  background-size: 100% 100%;
  opacity: 80%;
  animation: robo_gear2 7s linear infinite;
}
.robogear:hover .robogear4 {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 39.5%;
  left: 45.5%;
  background: url(../images/grey-gear.png) no-repeat;
  background-size: 100% 100%;
  opacity: 80%;
  animation: robo_gear2 7s linear infinite;
}
.robogear:hover .robogear5 {
  width: 12%;
  height: 12%;
  position: absolute;
  top: 55.5%;
  left: 41.2%;
  background: url(../images/bule-gear.png) no-repeat;
  background-size: 100% 100%;
  opacity: 80%;
  animation: robo_gear1 7s linear infinite;
}
.robogear {
  width: 11%;
  height: 55%;
  position: absolute;
  top: 0.9%;
  left: 49.5%;
  background: url(../images/bulb.png) no-repeat;
  background-size: 100% 100%;
  animation: robo_gear 7s linear infinite;
  opacity: 80%;
}
.robogear:hover {
  /* width: 3%;
  height: 7%; */
  width: 19%;
  height: 57%;
  position: absolute;
  top: 0.3%;
  left: 45.5%;
  background: url(../images/lightbulb1.png) no-repeat;
  background-size: 100% 100%;
  animation: robo_gear 7s linear infinite;
  opacity: 80%;
}
.robot-gear {
  animation: robotMoves 2s ease-in-out alternate infinite;
}
.robot2 {
  /* height: 7%; */
  /* width: 19%;
  height: 57%;
  position: absolute;
  top: 0.3%;
  left: 45.5%; */

  /* animation: robo_gear 7s linear infinite; */
  /* opacity: 80%; */
}
.robot2 {
  /* display: none; */
  position: absolute;
  width: 9%;
  top: 58%;
  opacity: 73%;
  left: 45.4%;
  transform: rotate3d(4, 19, 19, 341deg);
  z-index: -1;
  height: 11%;
  background: url(../images/grey-shadow.png) no-repeat;
  background-size: 100% 100%;
}
.robot4 {
  /* display: none; */
  position: absolute;
  width: 9%;
  top: 58%;
  opacity: 73%;
  left: 55%;
  transform: rotate3d(4, 19, -70, 341deg);
  z-index: -1;
  height: 8%;
  background: url(../images/grey-shadow.png) no-repeat;
  background-size: 100% 100%;
}
.robot3 {
  /* display: none; */
  position: absolute;
  width: 24%;
  top: 54%;
  opacity: 73%;
  left: 42.4%;
  transform: rotate3d(4, 18, 16, 359deg);
  z-index: -1;
  height: 23%;
  background-size: 100% 100%;
  /* background: url(../images/shaddow.png) no-repeat; */
}

@keyframes robotMoves {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(15px);
  }
}
/* @keyframes robo_gear {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes robo_gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@keyframes robo_gear1 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes robo_gear2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
